<!DOCTYPE html>
<html>
  <head>
    <base target="_self">
    <?!= include('view/header') ?>
    <title>觀察列表</title>
  </head>
  <body>
    <br><br>
    <div id = "loading">
    <div class="d-flex justify-content-center">
      <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
      // The code in this function runs when the page is loaded.
      $(function() {
      <? if(type=='etf'){?>
          google.script.run.withSuccessHandler(show).loadETFList();
      <? }else if (type=='compare'){ ?>
          google.script.run.withSuccessHandler(show).loadCompareList();
      <? }else if (type=='superInvestor'){ ?>
          google.script.run.withSuccessHandler(show).loadSuperInvestorList();
      <? }else if (type=='macro'){ ?>
          google.script.run.withSuccessHandler(show).loadMacroList();
      <? }else if (type=='selector'){ ?>
          google.script.run.withSuccessHandler(show).loadSelectorList();
      <? }else{ ?> 
          google.script.run.withSuccessHandler(show).loadStockList();
      <? } ?>
      });
      function show(htmlPart) {
        var content = $('#loading');
        content.empty();
        content.append(htmlPart);
      }
    </script>
  </body>
</html>


    