<? var category = Object.keys(noteObj) ?>
<section id="tabs" class="project-tab">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <? for(var cat in category){ ?>
                                  <? if(cat == 0){?>
                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#<?= category[cat] ?>" role="tab" aria-controls="nav-home" aria-selected="true"><?= category[cat] ?></a>
                                  <?}else{ ?>
                                    <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#<?= category[cat] ?>" role="tab" aria-controls="nav-home" aria-selected="true"><?= category[cat] ?></a>
                                  <?}?>
                                <?}?>
                             </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                          <? for(var cat in category){ ?>
                            <? var catInfo = noteObj[category[cat]] ?>
                            <div class="tab-pane fade  <? if(cat==0){?> show active <?} ?>" id="<?= category[cat] ?>" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="table-responsive-xl">
                                <table class="table table-hover" cellspacing="0">
                                  <tbody>
                                    <tr>
                                     <th scope="col" style="text-align: center;"><strong>指標</strong></th>
                                     <th scope="col" style="text-align: center;"><strong>線圖</strong></th>
                                     <th scope="col" style="text-align: center;"><strong>財報</strong></th>
                                     <th scope="col" style="text-align: center;"><strong>公司</strong></th>
                                     <th scope="col" style="text-align: center;"><strong>價格</strong></th>
                                     <th scope="col" style="text-align: center;"><strong>交易量</strong></th>
                                     <th scope="col" style="text-align: center;"><strong>52H</strong></th>
                                     <th scope="col" style="text-align: center;"><strong>52L</strong></th>
                                     <th scope="col" style="text-align: center;"><strong>漲跌</strong></th>
                                     <th scope="col" style="text-align: center;"><strong>PE</strong></th>
                                     <th scope="col" style="text-align: center; white-space: nowrap;"><strong>預估PE</strong></th>
                                     <th scope="col" style="text-align: center; white-space: nowrap;"><strong>價值乘數</strong></th>
                                     <th scope="col" style="text-align: center;"><strong>PB</strong></th>
                                     <th scope="col" style="text-align: center;"><strong>PTBV</strong></th>
                                     <th scope="col" style="text-align: center;"><strong>PS</strong></th>
                                     <th scope="col" style="text-align: center;"><strong>今年PEG</strong></th>
                                     <th scope="col" style="text-align: center;"><strong>明年PEG</strong></th>
                                     <th scope="col" style="text-align: center;"><strong>EPS成長</strong></th>
                                     <th scope="col" style="text-align: center;"><strong>營收成長</strong></th>
                                     <th scope="col" style="text-align: center;"><strong>殖利率</strong></th>
                                     <th scope="col" style="text-align: center;"><strong>回購率</strong></th>
                                     <th scope="col" style="text-align: center;"><strong>市值(億)</strong></th>
                                     <th scope="col" style="text-align: center; white-space: nowrap;;"><strong>分析師股票目標價追蹤</strong></th>
                                     <th scope="col" style="text-align: center; white-space: nowrap;;"><strong>關注度</strong></th>
                                     <th scope="col" style="text-align: center;"><strong>FScore</strong></th>
                                     <th scope="col" style="text-align: center;"><strong>ZScore</strong></th>
                                     <th scope="col" style="text-align: center;"><strong>MScroe</strong></th>
                                     <th scope="col" style="text-align: center;"><strong>DCF</strong></th>
                                     <th scope="col" style="text-align: center;"><strong>預估FCF</strong></th>
                                     <th scope="col" style="text-align: center;"><strong>林奇估值</strong></th>
                                     <th scope="col" style="text-align: center;"><strong>葛拉漢估值</strong></th>
                                     <th scope="col" style="text-align: center;"><strong>PS回歸估值</strong></th>
                                   </tr>
                                   <? for(var i in catInfo){ ?>
                                     <tr>
                                       <td style="text-align: center;"> <?= catInfo[i]['sign'] ?> </td>
                                       <td style="text-align: center;"><a href="https://script.google.com/macros/s/AKfycbzbzeGJ836vYiPAtquSFeMPGCVzGDSWYTlyaPrX3tpv7KzRBJg/exec?mode=historyData&symbol=<?= catInfo[i]['symbol'].toLowerCase()?>" target="_blank">📈</a></td>
                                       
                                       <td style="text-align: center;">
                                       <? if (catInfo[i]['cbsRanking'] == '过热'){ ?>
                                           <a style="color: #D44D44;" href="https://caibaoshuo.com/companies/<?= catInfo[i]['symbol']?>" target="_blank">過熱</a>
                                       <? }else if (catInfo[i]['cbsRanking'] == '中等'){ ?>
                                           <a style="color: #FCCC79;" href="https://caibaoshuo.com/companies/<?= catInfo[i]['symbol']?>" target="_blank">中等</a>
                                       <? }else if (catInfo[i]['cbsRanking'] == '低价'){ ?>
                                           <a style="color: #8FD17F;" href="https://caibaoshuo.com/companies/<?= catInfo[i]['symbol']?>" target="_blank">偏低</a>
                                       <? }else if (catInfo[i]['cbsRanking'] == '低估'){ ?>
                                           <a style="color: #3D9CFF;" href="https://caibaoshuo.com/companies/<?= catInfo[i]['symbol']?>" target="_blank">低估</a>
                                       <? }else if (catInfo[i]['cbsRanking'] == '观望'){ ?>
                                           <a style="color: #999999;" href="https://caibaoshuo.com/companies/<?= catInfo[i]['symbol']?>" target="_blank">觀望</a>
                                       <? }else{ ?>
                                           <?=catInfo[i]['cbsRanking']?>
                                       <? }?>
                                       </td>
                                       
                                       <td style="text-align: center; white-space: nowrap">
                                           <a href="<?= catInfo[i]['url']?>" target="_blank">
                                               <?= catInfo[i]['companyName'] ?><br/>( <?= catInfo[i]['symbol']?> ) 
                                               <?if(catInfo[i]['volumeMark']){?><?=catInfo[i]['volumeMark']?><?}?>
                                               <?if(catInfo[i]['news']){?><?=catInfo[i]['news']?><?}?>
                                               <?if(catInfo[i]['beatAnalyst']){?><?=catInfo[i]['beatAnalyst']?><?}?>
                                               <?if(catInfo[i]['ma60support']){?><?=catInfo[i]['ma60support']?><?}?>
                                           </a>
                                       </td>
                                       <td style="text-align: center;"><?= catInfo[i]['price'] ?></td>
                                       
                                       <td style="text-align: center;"><strong>
                                       <? if (catInfo[i]['volumeRatio'] > 200){ ?>
                                           <span style="color: #339966;"><?= catInfo[i]['volumeRatio'] ?></span>
                                       <? }else if (catInfo[i]['volumeRatio'] < 50){ ?>
                                           <span style="color: #ff0000;"><?= catInfo[i]['volumeRatio'] ?></span>
                                       <? }else{ ?>
                                           <?= catInfo[i]['volumeRatio'] ?>
                                       <? }?>
                                       </strong></td>
                                       
                                       <td style="text-align: center;">
                                       <? if ((catInfo[i]['52weekHigh'] - catInfo[i]['price'])/catInfo[i]['52weekHigh'] < 0.05){ ?>
                                           <span style="color: #ffffff; background-color: #008000;"><?= catInfo[i]['52weekHigh'] ?>
                                       <? }else{ ?>
                                           <?= catInfo[i]['52weekHigh'] ?>
                                       <? }?>
                                       </span></td>
                                       
                                       <td style="text-align: center;">
                                       <? if ((catInfo[i]['price'] - catInfo[i]['52weekLow'])/catInfo[i]['price'] < 0.05){ ?>
                                           <span style="color: #ffffff; background-color: #ff0000;"><?= catInfo[i]['52weekLow'] ?></span>
                                       <? }else{ ?>
                                           <?= catInfo[i]['52weekLow'] ?>
                                       <? }?>
                                       </td>
                                       
                                       <td style="text-align: center; white-space: nowrap"><strong>
                                       <? if (catInfo[i]['delta'] > 0){ ?>
                                           <span style="color: #339966;"><?= (catInfo[i]['delta']* 100).toFixed(1) ?> %</span>
                                       <? }else if (catInfo[i]['delta'] < 0){ ?>
                                           <span style="color: #ff0000;"><?= (catInfo[i]['delta']* 100).toFixed(1) ?> %</span>
                                       <? }else{ ?>
                                           <?= (catInfo[i]['delta']* 100).toFixed(1) ?> %
                                       <? }?>
                                       </strong></td>
                                       
                                       <td style="text-align: center;"><strong>
                                       <? if (catInfo[i]['TTM'] > 0){ ?>
                                           <span style="color: #339966;"><?= Math.round(catInfo[i]['TTM']) ?></span>
                                       <? }else if (catInfo[i]['TTM'] < 0){ ?>
                                           <span style="color: #ff0000;"><?= Math.round(catInfo[i]['TTM']) ?></span>
                                       <? }else{ ?>
                                           <?= Math.round(catInfo[i]['TTM']) ?>
                                       <? }?>
                                       </strong></td>
                                       
                                       <td style="text-align: center;"><strong>
                                       <? if (catInfo[i]['forwardPe'] > 0){ ?>
                                           <span style="color: #339966;"><?= Math.round(catInfo[i]['forwardPe']) ?></span>
                                       <? }else if (catInfo[i]['forwardPe'] < 0){ ?>
                                           <span style="color: #ff0000;"><?= Math.round(catInfo[i]['forwardPe']) ?></span>
                                       <? }else{ ?>
                                           <?= Math.round(catInfo[i]['forwardPe']) ?>
                                       <? }?>
                                       </strong></td>
                                       
                                       <td style="text-align: center;"><strong>
                                       <? if (catInfo[i]['ev2ebitdaNow'] > 0){ ?>
                                           <span style="color: #339966;"><?= Math.round(catInfo[i]['ev2ebitdaNow']) ?></span>
                                       <? }else if (catInfo[i]['ev2ebitdaNow'] < 0){ ?>
                                           <span style="color: #ff0000;"><?= Math.round(catInfo[i]['ev2ebitdaNow']) ?></span>
                                       <? }else{ ?>
                                           <?= Math.round(catInfo[i]['ev2ebitdaNow']) ?>
                                       <? }?>
                                       </strong></td>
                                       
                                       <td style="text-align: center;"><strong>
                                       <? if (catInfo[i]['pb'] > 0){ ?>
                                           <span style="color: #339966;"><?= Math.round(catInfo[i]['pb']) ?></span>
                                       <? }else if (catInfo[i]['pb'] < 0){ ?>
                                           <span style="color: #ff0000;"><?= Math.round(catInfo[i]['pb']) ?></span>
                                       <? }else{ ?>
                                           <?= Math.round(catInfo[i]['pb']) ?>
                                       <? }?>
                                       </strong></td>
                                       
                                       <td style="height: 20px text-align: center;;"><strong><?= Math.round(catInfo[i]['p2tangible_bookNow']) ?></strong></td>
                                       <td style="height: 20px text-align: center;"><strong><?= Math.round(catInfo[i]['ps']) ?></strong></td>
                                       
                                       <td style="text-align: center;"><strong>
                                       <? if(catInfo[i]['thisEPS']){?>
                                           <? var speg = catInfo[i]['TTM']/catInfo[i]['thisEPS']?>
                                           <? if (catInfo[i]['TTM'] < 0 || catInfo[i]['thisEPS'] < 0){ ?>
                                           <? }else if (speg > 1){ ?>
                                               <span style="color: #ff0000;"><?= Math.round(speg*10)/10 ?></span>
                                           <? }else{ ?>
                                               <span style="color: #339966;"><?= Math.round(speg*10)/10 ?></span>
                                           <? }?>
                                       <? }else{} ?>
                                       </strong></td>
                                       
                                       <td style="text-align: center;"><strong>
                                       <? if(catInfo[i]['nextEPS']){?>
                                           <? var peg = catInfo[i]['TTM']/catInfo[i]['nextEPS']?>
                                           <? if (catInfo[i]['TTM'] < 0 || catInfo[i]['nextEPS'] < 0){ ?>
                                           <? }else if (peg > 1){ ?>
                                               <span style="color: #ff0000;"><?= Math.round(peg*10)/10 ?></span>
                                           <? }else{ ?>
                                               <span style="color: #339966;"><?= Math.round(peg*10)/10 ?></span>
                                           <? }?>
                                       <? }else{} ?>
                                       </strong></td>
                                       
                                       <td style="height: 20px text-align: center; white-space: nowrap;"><strong>
                                       <? if (catInfo[i]['thisEPS'] < 0){ ?>
                                           <span style="color: #ff0000;"><?= catInfo[i]['thisEPS'] ?></span>/
                                       <? }else if (catInfo[i]['thisEPS'] > 30){ ?>
                                           <span style="color: #339966;"><?= catInfo[i]['thisEPS'] ?></span>/
                                       <? }else{ ?>
                                           <?= catInfo[i]['thisEPS'] ?>/
                                       <? }?>
                                       <? if (catInfo[i]['nextEPS'] < 0){ ?>
                                           <span style="color: #ff0000;"><?= catInfo[i]['nextEPS'] ?></span>
                                       <? }else if (catInfo[i]['nextEPS'] > 30){ ?>
                                           <span style="color: #339966;"><?= catInfo[i]['nextEPS'] ?></span>
                                       <? }else{ ?>
                                           <?= catInfo[i]['nextEPS'] ?>
                                       <? }?>
                                       </strong></td>
                                       
                                       <td style="height: 20px text-align: center; white-space: nowrap;"><strong>
                                       <? if (catInfo[i]['thisRevenue'] < 0){ ?>
                                           <span style="color: #ff0000;"><?= catInfo[i]['thisRevenue'] ?></span>/
                                       <? }else if (catInfo[i]['thisRevenue'] > 30){ ?>
                                           <span style="color: #339966;"><?= catInfo[i]['thisRevenue'] ?></span>/
                                       <? }else{ ?>
                                           <?= catInfo[i]['thisRevenue'] ?>/
                                       <? }?>
                                       <? if (catInfo[i]['nextRevenue'] < 0){ ?>
                                           <span style="color: #ff0000;"><?= catInfo[i]['nextRevenue'] ?></span>
                                       <? }else if (catInfo[i]['nextRevenue'] > 30){ ?>
                                           <span style="color: #339966;"><?= catInfo[i]['nextRevenue'] ?></span>
                                       <? }else{ ?>
                                           <?= catInfo[i]['nextRevenue'] ?>
                                       <? }?>
                                       </strong></td>
                                       
                                       <td style="height: 20px text-align: center; white-space: nowrap;"><strong>
                                       <? if(catInfo[i]['yield'] != '0%'){ ?>
                                           <?= catInfo[i]['yield'] ?>
                                       <? } ?>
                                       </strong></td>
                                       
                                       <td style="height: 20px text-align: center; white-space: nowrap;"><strong>
                                       <? if(catInfo[i]['buyback_yield'] != 0){ ?>
                                           <?= Math.round(catInfo[i]['buyback_yield']*10)/10?>%
                                       <? } ?>
                                       </strong></td>
                                       
                                       <td style="height: 20px text-align: center; white-space: nowrap;"><strong><?= Math.round(catInfo[i]['value']) ?></strong></td>
                                       
                                       <? if (catInfo[i]['analysis'].includes("↗")){ ?>
                                           <td style="text-align: left;"><strong><span style="color: #339966;"><?= catInfo[i]['analysis'] ?></span></strong></td>
                                       <? }else if (catInfo[i]['analysis'].includes("↘")){ ?>
                                           <td style="text-align: left;"><strong><span style="color: #ff0000;"><?= catInfo[i]['analysis'] ?></span></strong></td>
                                       <? }else{ ?>
                                           <td style="text-align: left; white-space: nowrap;"><?= catInfo[i]['analysis'] ?></td>
                                       <? }?>
            
                                       <? if (String(catInfo[i]['analystPopularity']).includes("↗")){ ?>
                                           <td style="text-align: center; white-space: nowrap"><strong><span style="color: #339966;"><?= catInfo[i]['analystPopularity'] ?></span></strong></td>
                                       <? }else if (String(catInfo[i]['analystPopularity']).includes("↘")){ ?>
                                           <td style="text-align: center; white-space: nowrap"><strong><span style="color: #ff0000;"><?= catInfo[i]['analystPopularity'] ?></span></strong></td>
                                       <? }else{ ?>
                                           <td style="text-align: center; white-space: nowrap"><?= catInfo[i]['analystPopularity'] ?></td>
                                       <? }?>
                                       
                                       <td style="height: 20px text-align: center; white-space: nowrap;"><strong>
                                       <?if(catInfo[i]['fscore']>6){?>
                                         <span style="color: #339966;"><?=catInfo[i]['fscore']?></span>
                                       <?}else if(catInfo[i]['fscore']>5){?>
                                         <span style="color: #E19223;"><?=catInfo[i]['fscore']?></span>
                                       <?}else{?>
                                         <span style="color: #ff0000;"><?=catInfo[i]['fscore']?></span>
                                       <?}?>
                                       </strong></td>
                                       
                                       <td style="height: 20px text-align: center; white-space: nowrap;"><strong>
                                       <?if(catInfo[i]['zscore']<=1.81){?>
                                         <span style="color: #ff0000;"><?=catInfo[i]['zscore']?></span>
                                       <?}else if(catInfo[i]['zscore']<=2.99){?>
                                         <span style="color: #E19223;"><?=catInfo[i]['zscore']?></span>
                                       <?}else{?>
                                         <span style="color: #339966;"><?=catInfo[i]['zscore']?></span>
                                       <?}?>
                                       </strong></td>
                                       
                                       <td style="height: 20px text-align: center; white-space: nowrap;"><strong>
                                       <?if(catInfo[i]['mscore']>-2.22){?>
                                         <span style="color: #ff0000;"><?=catInfo[i]['mscore']?></span>
                                       <?}else if(catInfo[i]['mscore']>0){?>
                                         <span style="color: #E19223;"><?=catInfo[i]['mscore']?></span>
                                       <?}else{?>
                                         <span style="color: #339966;"><?=catInfo[i]['mscore']?></span>
                                       <?}?>
                                       </strong></td>
                                       
                                       <td style="height: 20px text-align: center; white-space: nowrap;"><strong>
                                       <?if(catInfo[i]['price'] > catInfo[i]['iv_dcf']){?>
                                         <span style="color: #ff0000;"><?=catInfo[i]['iv_dcf']?></span>
                                       <?}else{?>
                                         <span style="color: #339966;"><?=catInfo[i]['iv_dcf']?></span>
                                       <?}?>
                                       
                                       </strong></td>
                                       <td style="height: 20px text-align: center; white-space: nowrap;"><strong>
                                       <?if(catInfo[i]['price'] > catInfo[i]['iv_dcf_share']){?>
                                         <span style="color: #ff0000;"><?=catInfo[i]['iv_dcf_share']?></span>
                                       <?}else{?>
                                         <span style="color: #339966;"><?=catInfo[i]['iv_dcf_share']?></span>
                                       <?}?>
                                       </strong></td>
                                       
                                       <td style="height: 20px text-align: center; white-space: nowrap;"><strong>
                                       <?if(catInfo[i]['price'] > catInfo[i]['lynchvalue']){?>
                                         <span style="color: #ff0000;"><?=catInfo[i]['lynchvalue']?></span>
                                       <?}else{?>
                                         <span style="color: #339966;"><?=catInfo[i]['lynchvalue']?></span>
                                       <?}?>
                                       </strong></td>
                                       
                                       <td style="height: 20px text-align: center; white-space: nowrap;"><strong>
                                       <?if(catInfo[i]['price'] > catInfo[i]['grahamnumber']){?>
                                         <span style="color: #ff0000;"><?=catInfo[i]['grahamnumber']?></span>
                                       <?}else{?>
                                         <span style="color: #339966;"><?=catInfo[i]['grahamnumber']?></span>
                                       <?}?>
                                       </strong></td>
                                       
                                       <td style="height: 20px text-align: center; white-space: nowrap;"><strong>
                                       <?if(catInfo[i]['price'] > catInfo[i]['medpsvalue']){?>
                                         <span style="color: #ff0000;"><?=catInfo[i]['medpsvalue']?></span>
                                       <?}else{?>
                                         <span style="color: #339966;"><?=catInfo[i]['medpsvalue']?></span>
                                       <?}?>
                                       </strong></td>
                                     </tr>
                                   <? } ?>
                                 </tbody>
                               </table>
                             </div>
                             </div>
                          <?}?>
                        </div>
                    </div>
                </div>
            </div>
        </section>


