<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <base target="_self">
        <?!= include('view/header') ?>
        <title>History Charts - <?= stockSymbols.toUpperCase() ?></title>
        
        <!-- load Google AJAX API -->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
        
            //load the Google Visualization API and the chart
            google.charts.load('current', {'packages':['corechart', 'controls']});
 
            // Set a callback to run when the Google Visualization API is loaded.
            google.charts.setOnLoadCallback(drawPriceChart);
            google.charts.setOnLoadCallback(drawPriceRatioChart);
            google.charts.setOnLoadCallback(drawPEChart);
            
            var span = parseInt('<?= span ?>')
            var stockLst = '<?= stockSymbols ?>'.toUpperCase().split(',')
            var no = parseInt('<?= no ?>')
            var multiStockData = JSON.parse('<?= JSON.stringify(multiStockData) ?>')
            var date = []
            multiStockData['0'].date.forEach(e => date.push(new Date(e.replace(/年|月/g, '-').replace(/日/g, ''))))

            
            function drawPriceChart() {
                var dataTable = new google.visualization.DataTable();
                dataTable.addColumn('date', '日期');
                for(var i=0;i<no;i++){
                    dataTable.addColumn('number', stockLst[i] + '（價格）');
                }
                for(var i = 0 ; i <= span-1 ; i++){
                   var rowLst = [date[i]]
                   for(var j=0;j<no;j++){
                       rowLst.push(multiStockData[String(j)].close[i])
                   }
                   dataTable.addRows([rowLst]);
               }
               var chart = new google.visualization.LineChart (document.getElementById('priceChart'));
               var options = {width: 1027, height: 768,title: '價格比較'};
               chart.draw(dataTable, options);
            }
            
            function drawPriceRatioChart() {
                var dataTable = new google.visualization.DataTable();
                dataTable.addColumn('date', '日期');
                for(var i=0;i<no;i++){
                    dataTable.addColumn('number', stockLst[i] + '（價格漲跌）');
                }
                for(var i = 0 ; i <= span-1 ; i++){
                   var rowLst = [date[i]]
                   for(var j=0;j<no;j++){
                       var ratio = Math.round( multiStockData[String(j)].close[i] / multiStockData[String(j)].close[1] * 100)/100
                       rowLst.push(ratio)
                   }
                   dataTable.addRows([rowLst]);
               }
               var chart = new google.visualization.LineChart (document.getElementById('priceRatioChart'));
               var options = {width: 1027, height: 768,title: '價格漲跌比較'};
               chart.draw(dataTable, options);
            }
            
            function drawPEChart() {
                var dataTable = new google.visualization.DataTable();
                dataTable.addColumn('date', '日期');
                for(var i=0;i<no;i++){
                    dataTable.addColumn('number', stockLst[i] + '（PE值）');
                }
                for(var i = 0 ; i <= span-1 ; i++){
                   var rowLst = [date[i]]
                   for(var j=0;j<no;j++){
                       rowLst.push(multiStockData[String(j)].pe[i])
                   }
                   dataTable.addRows([rowLst]);
               }
               var chart = new google.visualization.LineChart (document.getElementById('peChart'));
               var options = {width: 1027, height: 768, title: '估值比較'};
               chart.draw(dataTable, options); 
            }
            
            
         </script> 
    </head>
 
    <body>
    
    <div class="container">
      <br><br>
      <h2 align="center">歷史比較圖表</h2>
      <p style="text-align: center;"><a href="https://script.google.com/macros/s/AKfycbzbzeGJ836vYiPAtquSFeMPGCVzGDSWYTlyaPrX3tpv7KzRBJg/exec?mode=corrLab&symbols=<?=stockSymbols?>" target="_blank" >檢視相關係數矩陣</a></p>
      <div class="row">
        <div class="col-sm">
          <div id="priceChart"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div id="priceRatioChart"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div id="peChart"></div>
        </div>
      </div>
    </div>
    </body>
</html>