<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <base target="_self">
        <?!= include('view/header') ?>
        
        <title>History Charts - <?= stockSymbol ?></title>
        
        
        
    </head>
 
    <body> 
        <!--Div for our chart -->
        <p><?=tickerRTJSON?></p>
        <p><?=briefJSON?></p>
        <p><?=frontDistrs?></p>
        <p><?=ratioDistrs?></p>
        
        <!--Div for our chart -->
        <? var tickerRTObj = JSON.parse(tickerRTJSON) ?>
        <? var ratingObj = JSON.parse(briefJSON)?>
        <? var frontDistrs = JSON.parse(frontDistrs)?>
        <? var ratioDistrs = JSON.parse(ratioDistrs)?>
        
        <h3 style="text-align:center"><?= tickerRTObj.name ?>(<?= stockSymbol ?>)</h3>
        <br>
        <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-sm table-hover">
                  <thead>
                    <tr>
                      <th scope="col">財務指標</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">PB</th>
                      <td><?=tickerRTObj.pb?></td>
                    </tr>
                    <tr>
                      <th scope="row">PS</th>
                      <td><?=tickerRTObj.ps?></td>
                    </tr>
                    <tr>
                      <th scope="row">PE TTM</th>
                      <td><?=tickerRTObj.peTtm?></td>
                    </tr>
                    <tr>
                      <th scope="row">EPS TTM</th>
                      <td><?=tickerRTObj.epsTtm?></td>
                    </tr>
                    <tr>
                      <th scope="row">上次分紅時間</th>
                      <td><?=tickerRTObj.latestDividendDate?></td>
                    </tr>
                    <tr>
                      <th scope="row">最近一期財報時間</th>
                      <td><?=tickerRTObj.latestEarningsDate?></td>
                    </tr>
                    <tr>
                      <th scope="row">下次財報時間</th>
                      <td><?=tickerRTObj.estimateEarningsDate?></td>
                    </tr>
                    
                  </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table table-sm table-hover">
                  <thead>
                    <tr>
                      <th scope="col">市場指標</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">市值</th>
                      <td><?=(parseFloat(tickerRTObj.marketValue)/(10 ** 8)).toFixed(1)?>億</td>
                    </tr>
                    <tr>
                      <th scope="row">本日交易量</th>
                      <td><?=(parseFloat(tickerRTObj.volume)/(10 ** 4)).toFixed(1)?>萬</td>
                    </tr>
                    <tr>
                      <th scope="row">10日平均交易量</th>
                      <td><?=(parseFloat(tickerRTObj.avgVol10D)/(10 ** 4)).toFixed(1)?>萬</td>
                    </tr>
                    <tr>
                      <th scope="row">3月平均交易量</th>
                      <td><?=(parseFloat(tickerRTObj.avgVol3M)/(10 ** 4)).toFixed(1)?>萬</td>
                    </tr>
                    <tr>
                      <th scope="row">換手率</th>
                      <td><?=tickerRTObj.turnoverRate?></td>
                    </tr>
                    <tr>
                      <th scope="row">波動率</th>
                      <td><?=tickerRTObj.vibrateRatio?></td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table table-sm table-hover">
                  <thead>
                    <tr>
                      <th scope="col">EPS預估</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><div id="chart" align='center' style="height: 250px;"></div></td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
        
        <div id="dashboard_div" align='center'>
        <div id="priceChart_div"   style="height: 290px;"></div>
        <div id="filter_div"  style="height: 80px;"></div>
        <div id="momentumChart_div"  style="height: 80px;"></div>
        <div id="financialReporChart_div"   style="height: 150px;"></div>
        <div id="pbpsChart_div"   style="height: 150px;"></div>
        <div id="analystChart_div"   style="height: 200px;"></div>
          
        </div>
        
        </div>
    </body>
</html>