<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <base target="_self">
        <?!= include('view/header') ?>
        
        <title>History Charts - <?= stockSymbol ?></title>
        
        
        
    </head>
 
    <body> 

        <!--Div for our chart -->
        <? var tickerRTObj = JSON.parse(tickerRTJSON) ?>
        <? var briefObj = JSON.parse(briefJSON)?>
        
        

        
        <h3 style="text-align:center"><?= tickerRTObj.name ?> (<?= tickerRTObj.symbol ?>)</h3>
        <br>
        <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-sm table-hover">
                  <thead>
                    <tr>
                      <th scope="col">基本資料</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">創立時間</th>
                      <td><?=briefObj.establishDate?></td>
                    </tr>
                    <tr>
                      <th scope="row">對標</th>
                      <td><?=briefObj.performanceComparison?></td>
                    </tr>
                    <tr>
                      <th scope="row">風險值</th>
                      <td><?=tickerRTObj.beta3Y?></td>
                    </tr>
                    <tr>
                      <th scope="row">評級</th>
                      <td><?=tickerRTObj.rating?></td>
                    </tr>
                    <tr>
                      <th scope="row">管理費用</th>
                      <td><?=tickerRTObj.netExpenseRatio?></td>
                    </tr>
                    <tr>
                      <th scope="row">上次分紅時間</th>
                      <td><?=tickerRTObj.latestDividendDate?></td>
                    </tr>
                    <tr>
                      <th scope="row">上次分紅</th>
                      <td><?=tickerRTObj.ividend?></td>
                    </tr>
                    <tr>
                      <th scope="row">殖利率</th>
                      <td><?=tickerRTObj.yield1Y?></td>
                    </tr>
                    <tr>
                      <th scope="row">年初至今報酬</th>
                      <td><?=tickerRTObj.returnThisYear?></td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
        <div class="row">
        <? if(frontDistrsObj && frontDistrsObj != ''){ ?>
          <? var frontDistrsObj = JSON.parse(frontDistrs) ?>
            <div class="col">
                <table class="table table-sm table-hover">
                  <thead>
                    <tr>
                      <th scope="col">代號</th>
                      <th scope="col">名稱</th>
                      <th scope="col">持股比例</th>
                      <th scope="col">變動</th>
                    </tr>
                  </thead>
                  <tbody>
                    <? for(var i=0;i<frontDistrsObj.targetSymbol.length;i++){ ?>
                    <tr>
                      <th scope="row"><?=frontDistrsObj.targetSymbol[i]?></th>
                      <td><?=frontDistrsObj.targetName[i]?></td>
                      <td><?=frontDistrsObj.ratio[i]?></td>
                      <td><?=frontDistrsObj.changeRate[i]?></td>
                    </tr>
                    <? } ?>
                  </tbody>
                </table>
              </div>
            <? } ?>
            <? if(ratioDistrs && ratioDistrs != ''){ ?>
              <? var ratioDistrsObj = JSON.parse(ratioDistrs) ?>
              <div class="col">
                <table class="table table-sm table-hover">
                  <thead>
                    <tr>
                      <th scope="col">領域</th>
                      <th scope="col">持股比例</th>
                    </tr>
                  </thead>
                  <tbody>
                    <? for(var i=0;i<ratioDistrsObj.categoryName.length;i++){ ?>
                    <tr>
                      <th scope="row"><?=ratioDistrsObj.categoryName[i]?></th>
                      <td><?=ratioDistrsObj.ratio[i]?></td>
                    </tr>
                    <? } ?>
                  </tbody>
                </table>
              </div>
            <? } ?>
        </div>
        </div>
    </body>
</html>